@model EmployeeManagement.Models.Employee

@{
    ViewData["Title"] = "Add New Employee";
}

<h2>Add New Employee</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />


    <div class="form-group">
        <div class="col-md-10">
            <label>Name</label>
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label>Surname</label>
            @Html.EditorFor(m => m.Surname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label>Address</label>
            @Html.EditorFor(m => m.Address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label>Qualification</label>
            @Html.EditorFor(m => m.Qualification, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Qualification, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label>Contact Number</label>
            @Html.EditorFor(m => m.ContactNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.ContactNumber, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label>Department</label>
            @Html.EditorFor(m => m.Department, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Department, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-secondary btn-sm btn-block">Save</button>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>